.header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(252, 229, 22)
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation-item {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navigation-item:hover {
    color: #e54f09;
  }
  