.container {
    
    border-radius: 7px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #91d6ec;
  }
  
  .header{
    text-align: center;
    background-color: #007af5;
    padding: 20px;
    margin-bottom: 30px;
   
  }
  h1{
    font-size: 54px;
    font-family: fantasy;
    color: #f0f0f0;
  }
  .subtitulo{
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .task-input {
    margin-bottom: 10px;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  .priority1 {
    background-color: #007af5; /* Azul escuro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .priority2 {
    background-color: #38b6e7; /* Azul */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .priority3 {
    background-color: #91d6ec; /* Azul claro */
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .priority1 button {
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .priority1 button:hover {
    background-color: #ff3b20;
  }
  .priority2 button {
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .priority2 button:hover {
    background-color: #ff3b20;
  }
  .priority3 button {
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .priority3 button:hover {
    background-color: #ff3b20;
  }
  body{
    background-color: black;
  }