<div class="header">
  <h1>ToDo List</h1>
  <h3 class="subtitulo">a sua lista de tarefas</h3>
</div>

<div class="container">
  <h2>Coisas a fazer:</h2>
  <input class="task-input" type="text" placeholder="Adicionar tarefa" [(ngModel)]="newTask">
  <select [(ngModel)]="newTaskPriority">
    <option value="1">Prioridade 1</option>
    <option value="2">Prioridade 2</option>
    <option value="3">Prioridade 3</option>
  </select>
  <button (click)="addTask()">Adicionar</button>
  <ul class="task-list">
    <li class=priority{{task.priority}} *ngFor="let task of tasks">
      {{ task.name }}
      <button (click)="removeTask(task)">Remover</button>
    </li>
  </ul>
</div>