.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-card {
    background-color: #493375;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    margin-left: 10px;
    color: aliceblue;
    width: 220px;
    transition: transform 0.3s ease;
  }
  .movie-card:hover {
    transform: scale(1.05); 
  }
  
  img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .movie-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .movie-card p {
    margin: 0;
    font-size: 14px;
  }